@if(isAddingTask()) {
<app-new-task (cancel)="onCancelAddTask()" (add)="onSubmitAddTask($event)" />
}

<section id="tasks">
    <header>
        <h2>{{user()?.name}}'s tasks</h2>
        <menu>
            <button (click)="onAddTask()">Add Task</button>
        </menu>
    </header>
    <ul>
        @if(selectedUserTasks().length === 0) {
        <p>No tasks found.</p>
        } @else {
        @for (task of selectedUserTasks(); track task.id) {
        <li>
            <app-task [task]="task" (onSelectedTaskComplete)="onTaskComplete($event)" />
        </li>
        }
        }
    </ul>
</section>